html, body {
  font-family: 'Raleway', sans-serif;
}

.body-container{
  background-color: rgb(194, 255, 245);
  position: relative;
  z-index: -1;
}

canvas {
  display: block;
}

form {
  z-index: 2;
}


h1 {
  position: absolute;
  top: -8rem;
  z-index: -1;
  padding-left: 2rem;
  font-size: 12rem;
  font-weight: 900;
  font-style: bold;
  word-spacing: 20px;
  color: rgb(233, 249, 248)
}

h2{
  font-size: 5em;
  font-weight: 900;
  font-style: bold;
  z-index: 2;
  text-align: center;
}

h3{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.form-complete {
  text-align: center;
  z-index: 2;
}

.form-container {
  margin: 5rem;
  z-index: 3;
}

.user-input{
  padding-top: 1rem;
  padding-left: 2rem;
  z-index: 3;
}

.submit-button{
  margin: 4rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 20rem;
  z-index: 3;
}